@model WebPizzaSite.Models.Account.UserProfileViewModel

<div>
    <h1 class="text-center mt-3">Profile</h1>
    <h3>Information</h3>
    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">User Name</dt>
        <dd class="col-sm-9">@Model.UserName</dd>
    </dl>

    <!-- Кнопка виходу -->
    <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline mt-3">
        <button type="submit" class="btn btn-danger">Вийти</button>
    </form>
</div>